@using System.ServiceModel.Channels
@{
    string message="";
    Validation.Add("nameField",Validator.Required());

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            message = "you entered " + Request.Form["name"];
        }
        
    }
}



<!DOCTYPE html>
<html>
    <head>
        <title>Form 1</title>
        <link rel="stylesheet" type="text/css" href="StyleSheet.css"/>
    </head>
    <body>
    <form method="post">
        <label for="nameField">Name</label><input type="text" name="name" id="nameField"/>
        <button type="submit">Submit</button>
        <p>@message</p>
        @Html.ValidationMessage("nameField")
    </form>
    </body>
</html>
