@{
    Validation.Add("number1",Validator.Range(2,10,"Enter a whole number between 2 and 10"));
    Validation.Add("number2",Validator.Range(0.5,1.5,"Enter any number between 0.5 and 1.5"));
    Validation.Add("number3", Validator.Range(2.0, 10.0, "Enter any number between 2 and 10"));

    if (IsPost)
    {
        Validation.IsValid();
    }
}

<!DOCTYPE html>
<html>
    <head>
        <title>Form 3</title>
    </head>
    <body>
    <form method="post">
        <label for="num1"></label>Int between 2 and 10<input type="text" id="num1" name="number1"/><br/>
        <label for="num2"></label>Dec between 0.5 and 1.5<input type="text" id="num2" name="number2"/><br/>
        <label for="num3"></label>Dec between 2 and 10<input type="text" id="num3" name="number3" /><br/>
        <button type="submit">Validate</button>
        @Html.ValidationMessage("number1")
        @Html.ValidationMessage("number2")
        @Html.ValidationMessage("number3")
    </form>
    </body>
</html>
