@{
    string[] subjects = new string[6];
    int[] subjectPoints = new int[6];
    string[] subjectGrades = new string[6];
    var pointsDic = new Dictionary<string, int>();
    const int BONUS_POINTS = 25;
    int results = 0;

    if (IsPost)
    {
        for(int x = 0; x < 6; x++)
        {
            subjects[x] = Request.Form["Subject " + (x + 1)];
            subjectGrades[x] = Request.Form["Grade " + (x + 1)];
        }

        var reader = new StreamReader(File.OpenRead(Server.MapPath("~/grades.csv")));
        while (!reader.EndOfStream)
        {
            var line = reader.ReadLine();
            var values = line.Split(',');
            pointsDic.Add(values[0], Convert.ToInt32(values[1]));
        }

        for(int x = 0; x < 6; x++)
        {
            if (subjects[x].ToLower() == "maths" && subjectGrades[x].Contains("H") && subjectGrades[x] != "H7" && subjectGrades[x] != "H8")
            {
                subjectPoints[x] = pointsDic[subjectGrades[x]] + BONUS_POINTS;
            }
            else if (pointsDic.ContainsKey(subjectGrades[x]))
            {
                subjectPoints[x] = pointsDic[subjectGrades[x]];
            }
        }

        int totalPoints = subjectPoints.Sum();
        results = totalPoints;
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>CAO Points Calculator</title>
    <link rel="stylesheet" type="text/css" href="StyleSheet.css" />
</head>
<body>
    <form method="post">
        <fieldset>
            <div class="entry">
                <label for="Sub 1">Subject 1</label>
                <input type="text" id="Sub 1" name="Subject 1"/>
                <label for="Grd 1">Grade</label>
                <select id="Grd 1" name="Grade 1">
                    <option value="H1">H1</option>
                    <option value="H2">H2</option>
                    <option value="H3">H3</option>
                    <option value="H4">H4</option>
                    <option value="H5">H5</option>
                    <option value="H6">H6</option>
                    <option value="H7">H7</option>
                    <option value="H8">H8</option>
                    <option value="O1">O1</option>
                    <option value="O2">O2</option>
                    <option value="O3">O3</option>
                    <option value="O4">O4</option>
                    <option value="O5">O5</option>
                    <option value="O6">O6</option>
                    <option value="O7">O7</option>
                    <option value="O8">O8</option>
                </select>
            </div>
            <div class="entry">
                <label for="Sub 2">Subject 2</label>
                <input type="text" id="Sub 2" name="Subject 2"/>
                <label for="Grd 2">Grade</label>
                <select id="Grd 2" name="Grade 2">
                    <option value="H1">H1</option>
                    <option value="H2">H2</option>
                    <option value="H3">H3</option>
                    <option value="H4">H4</option>
                    <option value="H5">H5</option>
                    <option value="H6">H6</option>
                    <option value="H7">H7</option>
                    <option value="H8">H8</option>
                    <option value="O1">O1</option>
                    <option value="O2">O2</option>
                    <option value="O3">O3</option>
                    <option value="O4">O4</option>
                    <option value="O5">O5</option>
                    <option value="O6">O6</option>
                    <option value="O7">O7</option>
                    <option value="O8">O8</option>
                </select>            
            </div>
            <div class="entry">
                <label for="Sub 3">Subject 3</label>
                <input type="text" id="Sub 3" name="Subject 3"/>
                <label for="Grd 3">Grade</label>
                <select id="Grd 3" name="Grade 3">
                    <option value="H1">H1</option>
                    <option value="H2">H2</option>
                    <option value="H3">H3</option>
                    <option value="H4">H4</option>
                    <option value="H5">H5</option>
                    <option value="H6">H6</option>
                    <option value="H7">H7</option>
                    <option value="H8">H8</option>
                    <option value="O1">O1</option>
                    <option value="O2">O2</option>
                    <option value="O3">O3</option>
                    <option value="O4">O4</option>
                    <option value="O5">O5</option>
                    <option value="O6">O6</option>
                    <option value="O7">O7</option>
                    <option value="O8">O8</option>
                </select>
                </div>
            <div class="entry">
                <label for="Sub 4">Subject 4</label>
                <input type="text" id="Sub 4" name="Subject 4"/>
                <label for="Grd 4">Grade</label>
                <select id="Grd 4" name="Grade 4">
                    <option value="H1">H1</option>
                    <option value="H2">H2</option>
                    <option value="H3">H3</option>
                    <option value="H4">H4</option>
                    <option value="H5">H5</option>
                    <option value="H6">H6</option>
                    <option value="H7">H7</option>
                    <option value="H8">H8</option>
                    <option value="O1">O1</option>
                    <option value="O2">O2</option>
                    <option value="O3">O3</option>
                    <option value="O4">O4</option>
                    <option value="O5">O5</option>
                    <option value="O6">O6</option>
                    <option value="O7">O7</option>
                    <option value="O8">O8</option>
                </select>            
            </div>
            <div class="entry">
                <label for="Sub 5">Subject 5</label>
                <input type="text" id="Sub 5" name="Subject 5"/>
                <label for="Grd 5">Grade</label>
                <select id="Grd 5" name="Grade 5">
                    <option value="H1">H1</option>
                    <option value="H2">H2</option>
                    <option value="H3">H3</option>
                    <option value="H4">H4</option>
                    <option value="H5">H5</option>
                    <option value="H6">H6</option>
                    <option value="H7">H7</option>
                    <option value="H8">H8</option>
                    <option value="O1">O1</option>
                    <option value="O2">O2</option>
                    <option value="O3">O3</option>
                    <option value="O4">O4</option>
                    <option value="O5">O5</option>
                    <option value="O6">O6</option>
                    <option value="O7">O7</option>
                    <option value="O8">O8</option>
                </select>            
            </div>
            <div class="entry">
                <label for="Sub 6">Subject 6</label>
                <input type="text" id="Sub 6" name="Subject 6" />
                <label for="Grd 6">Grade</label>
                <select id="Grd 6" name="Grade 6">
                    <option value="H1">H1</option>
                    <option value="H2">H2</option>
                    <option value="H3">H3</option>
                    <option value="H4">H4</option>
                    <option value="H5">H5</option>
                    <option value="H6">H6</option>
                    <option value="H7">H7</option>
                    <option value="H8">H8</option>
                    <option value="O1">O1</option>
                    <option value="O2">O2</option>
                    <option value="O3">O3</option>
                    <option value="O4">O4</option>
                    <option value="O5">O5</option>
                    <option value="O6">O6</option>
                    <option value="O7">O7</option>
                    <option value="O8">O8</option>
                </select>
            </div>
            <button type="submit">Calculate</button>
        </fieldset>
    </form>
    <div id="displayResult">
        You got <input class ="grade" type="text" id="result" readonly value="@results" /> points
    </div>
</body>
</html>